/*!*******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./style/style.css ***!
  \*******************************************************************/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: linear-gradient(to right, #65451F, #83764F, #A2A378);
    background-size: cover;
    margin: 0;
    padding: 0;
}

#head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

#head-container a{
    color: black;
    text-decoration: none;
    margin-right: 40px; 
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: auto; 
    margin-top: -30px;
    margin-right: 50px;
}

ul li a{
    font-size: 1.3em;
}

nav a:hover{
    border-bottom: 2px solid black;
}

.active{
    border-bottom: 2px solid black;
    text-transform: uppercase;
}


#btn-login{
    margin-right: 40px;
}

#btn-signup, #btn-login{
    padding: 9px;
    font-size: 1.3em;
    border: none;
    border-radius: 10px;
    background-color: rgb(238, 109, 109);
    color: white;
    box-shadow: 5px 3px rgb(75, 20, 20);


}

#btn-signup:hover, #btn-login:hover{
    cursor: pointer;
    background-color: rgb(152, 131, 10);
    color: black;

    
}

#logo{
    font-size: 1.8em;
    font-weight: 700;
    background-color: white;
    border-radius: 1px 50px;
    padding: 20px;
    margin-left: 30px;
    transition-duration: 0.5s;
    cursor: default;
}

#logo:hover{
    border-radius: 50%;
}

main{    
    display: flex;
    justify-content: center;
}


#content{
    font-size: 1.2em;
    margin: 0;
    margin-top: 80px;
    padding: 30px;
}

#content h1{
    font-size: 2em;
}

#content h1, h2{
    margin: 0;
}

#description p{
    margin: 0;
}


#icons{
position: absolute;
}

#icons a{
    font-size: 35px;
    color: black;
    padding: 5px;
    display: flex;
    text-decoration: none;
    position: relative;
    right: 670px;
    bottom: -115px;

}


main + section{
    margin-top: 150px;
}

#text-com{
   text-align: center;
   font-size: 35px;
   color: white;
}


#comment-section{
    border: 10px solid rgb(40, 38, 38);
    border-radius: 10px 15px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px; 
    width: 50vw;
    height: 550px; /* Set a minimum height */
    /* height: auto; Allow the div to stretch based on content */
    overflow-y: scroll;
}


#form-box{
    display: grid;
    place-items: center;
}


.btn-primary{
    padding: 6px;
    margin: 13px;
    background: black;
    color: white;
    border: none;
    font-size: 20px;
    margin-left: 407px;
    margin-bottom: 50px;
    
}

.btn-primary:hover{
    background-color: rgb(121, 64, 64);
    color: white;
    
}

.btn-primary:active{
    background-color: rgb(92, 138, 136) !important;
}


/* Project Page style start*/

#project-main{
    height:81vh;
    background-image: linear-gradient(to right, #65451F,  #83764F, #A2A378);
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-body{
    width: 300px;
    height: 500px;
    border: 15px solid white;
    background-image: linear-gradient(to right, rgb(63, 63, 235), rgb(57, 44, 44));
    border-radius: 20px;
    margin: 80px 80px;
    position: relative;
    transition: 0.3s;
}
.card-body:hover{
    background-image: linear-gradient(to right, purple, pink);
    transform: scale(1.2);
    cursor: pointer;
}

.card-size{
    background-color: #65451F;
    width: 270px;
    height: 145px;
    position: absolute;
    bottom: 0px;
    border-radius: 5px;
}

.card-info{
    color: white;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;

}

.card-size p{
    padding: 3px;
    font-size: 15px;
}



/* skill styling start*/



#skills-main{
    height: 81vh;
    background-image: linear-gradient(to right, #65451F,  #83764F, #A2A378);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

#technical{
    margin: 50px; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;

}

.skill-container{
    background-color: white;
    font-weight: 600;
    font-size: 25px;
    padding-top: 10px;
    border-radius: 30px;
    transition: 0.3s;
    display: grid;
    place-items: center;
    margin: 20px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    border: 5px solid rgba(109, 109, 128, 0.2);
}

.skill-container:hover{
    transform: rotate(5deg);
    cursor: pointer;
}

#html{
    color: green;
}

.shadow-green:hover{
    box-shadow: 12px 12px 5px 1px green;
    border: 5px solid green;
}


#css{
    color: blue;
}

.shadow-blue:hover{
    box-shadow: 12px 12px 5px 1px blue;
    border: 5px solid blue;
}

#javascript{
    color: red;
}

.shadow-red:hover{
    box-shadow: 12px 12px 5px 1px red;
    border: 5px solid red;
}


#soft-skill{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
}

.box{
    border: 5px solid white;
    border-radius: 10%;
    margin: 10px;
    width: 150px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    transition: all 0.2s;
}

.box p{
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.box:hover{
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0.5em 0.5em 0.5em 0.2em yellow;
    transform: translateY(-2em);
    border: none;
}


/* contact styling start */

#contact-main{
    height: 81vh;
    background-image: linear-gradient(to right, #65451F,  #83764F, #A2A378);
    display: flex;
    justify-content: center;
    align-items: center;
}


#contact-form{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    padding: 2vw 2vw;
    border-radius: 30px;
    border: 10px solid wheat;
}

form h3{
    text-align: center;
    padding-bottom: 30px;
    color:#65451F;
    font-weight: 600;
    font-size: 25px;
}


#contact-form input, #message{
    border: 2px solid grey;
    border-radius: 8px;
}


form #contactSubmit{
    padding: 8px;
    font-size: 18px;
    background-color: #83764F;
    border: none;
    cursor: pointer;
    width: 80px;
    border-radius: 30px;
    margin: 0 auto;
}


#contact-main button:hover{
    box-shadow: 2px 3px 2px #A2A378;
    transform: scale(1.2);
}



/* comment display in the UI */

.userComment{
    border: 5px solid #9b9d07;
    background-color: white;
    border-radius: 10px;
    margin: 30px 20px;
    list-style-type: none;
    padding: 10px;
}


.userComment .fa-trash-can {
    color: black;
    font-size: 25px;
    padding-left: 30px;
}

.userComment .fa-trash-can:hover{
    color: rgb(164, 38, 38);
    
}

.deleteList{
    background-color:transparent ;
    border: none;
    margin: 10px;
    
    
}


.comment-name{
    font-weight: bold;
    display: block; 
    font-size: 1.5em;
    padding-bottom: 7px;
    
}

  
.comment-text {
    display: block; 
}
  

#signup-page{
    margin: 150px auto;
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    box-shadow: 5px 5px 8px 5px red;
    border-radius: 30px;
}

#signup-page p{
    font-size: 2.5em;
    text-align: center;
    padding-top: 30px;

}


#signup{
    margin: 50px;
    font-size: 20px; 
}


#signup .form-control{
    height: 50px;
    font-size: 18px;
    border: 2px solid grey;
}


#btnSignUp{
    padding: 10px;
    margin: 40px;
    margin-left: 130px;
    border-radius: 5px;
    background-color: rgb(147, 37, 37);
    border: none;
    color: white;
   
}


#btnSignUp:hover{
    background-color: rgb(63, 17, 17);
    color: white;
    
}


#login-page{
    /* border: 10px solid rgb(106, 172, 65); */
    margin: 150px auto;
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: 5px 5px 8px 5px green;
    border-radius: 30px;
    
}


#login-page p{
    text-align: center;
    font-size: 2.5em;
    padding-top: 30px;
}


#login-form{
    margin: 50px;
    font-size: 20px; 
}


#login-form .form-control{
    height: 50px;
    font-size: 18px;
    border: 2px solid grey;
}


#btnLogin{
    padding: 10px;
    margin: 40px;
    margin-left: 130px;
    border-radius: 5px;
    background-color: green;
    border: none;
    color: white;
}

#btnLogin:hover{
    background-color: rgb(14, 60, 14);
    color: white;
   
}
